
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center">No tienes permisos para realizar esa acción</h1>

    <a href='/'>
    <button class="btn btn-primary btn-lg">
    Ir al home
    </button>
    </a>

</div>

