
<div class="container d-flex flex-column justify-content-center align-items-center m-3">
    <h1 class="text-center">Bienvenidos a Depelis</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/imgs/logo.png" class="h-100" alt="imagen_del_logo">
        <p> Podés encontrar tus películas favoritas en nuestro catálogo</p>
    </div>
    
</div>