
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center">Debes estar autenticado</h1>

    <a href='/login'>
    <button class="btn btn-primary btn-lg">
    Ir al login
    </button>
    </a>

</div>